/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background: #1a1a2e;
    line-height: 1.6;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero-text {
    background: var(--color2);
    color: #fff;
    padding: 100px 100px 50px 100px;
    max-width: 850px;
    margin: -270px -264px 0px auto;
    position: relative;
    z-index: 2;
    text-align: left;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: normal;
}
.hero-text p {
    font-size: 16px;
    color: rgb(192, 192, 198);
}

/* Vision Section */
.vision {
    padding: 60px 20px;
}
.vision h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.vision-content {
    max-width: 900px;
    margin: auto;
    text-align: left;
}
.vision-content h3 {
    margin-top: 20px;
}
.vision-content p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    font-weight:100;
}
.vision-content ul {
    margin-top: 10px;
    list-style-type: none;
}

